.screen {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  fill: #000000;
}

.day-text {
  font-family: "System-Regular";
  font-size: 26;
  text-anchor: middle;
  text-length: 32;
  x: 50%;
  y: 50%-61;
  fill: #FFFFFF;
}

.clock-text {
  font-family: "System-Light";
  font-size: 75;
  text-anchor: start;
  fill: #FA1E43;
  y: 50%+25;
}

.clock-hours {
  x: 50%-135;

}
.clock-sep1 {
  x: 50%-60;
  y: 50%+15;
}
.clock-mins {
  x: 50%-40;
}
.clock-sep2 {
  x: 50%+40;
  y: 50%+15;
}
.clock-seconds {
  x: 50%+55;
}

.date-text {
  font-family: "System-Regular";
  font-size: 26;
  text-anchor: middle;
  text-length: 32;
  x: 50%;
  y: 50%+78;
  width: 100%;
  height: 100%;
  fill: #FFFFFF;
}

.divider {
  x: 50%-111;
  width: 222;
  height: 1;
  fill: #646464;
}

.divider-top {
  y: 50%+40;
}

.divider-btm {
  y: 50%+99;
}

.divider-below-day {
  y: 50%-40;
}

.divider-above-day {
  y: 50%-99;
}

.battery-text {
  font-family: "System-Regular";
  font-size: 26;
  text-anchor: end;
  text-length: 10;
  border: solid;
  x: 96%;
  y: 50%-120;
  fill: #FFFFFF;
}
